.product-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: start;
  margin-bottom: 20px;
}

.add-product-fields {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 10px;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 14px;
}

.product-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px !important; 
  cursor: pointer;
  font-size: 16px; /* Optional: increase font size for better visibility */
  width: 100%; /* Optional: make the button full-width */
  max-width: 160px; /* Optional: set a max width */
  display: flex; /* Center the button text */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  height: 50px;
}

.product-button:hover{
  background-color: #28a745;
}

.edit-button {
  background-color: #007bff; /* Blue for Edit */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.update-button {
  background-color: #ffc107; /* Yellow for Update */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}


.edit-button:hover {
  background-color: #007bff;
}

.update-button {
  background-color: #ffc107; /* Yellow for Update */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.update-button:hover{
  background-color: #ffc107;
}


.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th, .product-table td {
  /* border: 1px solid #ccc; */
  padding: 10px;
  text-align: left;
}

.product-table th {
  background-color: #f8f9fa;
}

.product-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.img-preview {
  max-width: 100px;
  max-height: 100px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup-buttons button {
  margin: 5px;
  background-color: #dc3545;
  color: white;
}
