.new-arrival-section {
    padding: 35px;
    background-color: #fcfcfc;
  }
  
  .new-arrival-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .new-arrival-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 23px;
  }
  
  .view-all {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }
  
  .view-all-text {
    margin-right: 10px;
    /* font-weight: bold; */
  }
  
  .arrow-button {
    /* background: none; */
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #e9e4e4;
    background-color: #f8f3f3;
    border-radius: 9px;
  }
  
  .new-arrival-cards {
    display: flex;
    justify-content: center; /* Center cards if needed */
    margin-top: 20px; /* Space between header and cards */
  }
  
  .new-arrival-card-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Full width for the card container */
  }
  
  .new-arrival-card {
    display: flex; 
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    height: 128px;
    background-color: #f8f3f3;
  }
  
  .brand-image {
    width: 42%;
    height: auto;
    border-radius: 10px;
  }
  
  .brand-content {
    padding: 10px;
    width: 60%;
    background-color: #f8f3f3;
    text-align: justify;
  }
  
  .brand-title {
    font-size: 18px;
    margin: 10px 0 5px 0;
  }
  
  .brand-description {
    font-size: 14px;
    color: #666;
  }
  